<h1>Baskets#show</h1>

<p><%= @basket.description %></p>
<p><%= @basket.address %></p>
<p><%= @basket.price %></p>

<%= link_to 'claim this basket', new_basket_order_path(@basket) %>


<ul class="list-group">
  <% @basket.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
