<h1>Baskets#show</h1>

<p><%= @basket.description %></p>
<p><%= @basket.address %></p>
<p><%= @basket.price %></p>
<p><%= @basket.latitude %></p>
<p><%= @basket.longitude %></p>
<p>hello</p>

<div id="map"
       style="width: 50%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<%= link_to 'claim this basket', new_basket_order_path(@basket) %>


<ul class="list-group">
  <% @basket.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
