<nav class='d-flex justify-content-between align-items-center navbar'>
    <%= link_to root_path,class: 'navbar__item', :action => 'go' do %>
      <h3 class='navbar__item'>GREEN<i class='fas fa-leaf'></i>BASKET</h3>
    <% end%>
    <div class='d-flex justify-content-end'>
      <%= link_to baskets_path,class: 'navbar__item', :action => 'go' do %>
        <i class='fas fa-shopping-basket navbar__icon align-self-center text-center'></i>
      <% end%>
      <%= link_to orders_path,class: 'navbar__item', :action => 'go' do %>
        <i class='fas fa-heart navbar__icon align-self-center text-center'></i>
      <% end%>
      <% if current_user %>
        <%= link_to new_user_session_path,class: 'navbar__item', :action => 'go' do %>
          <i class='fas fa-bars navbar__icon align-self-center text-center'></i>
        <% end%>
      <% else %>
        <%= link_to new_user_session_path,class: 'navbar__item', :action => 'go' do %>
          <i class='fas fa-user navbar__icon align-self-center text-center'></i>
        <% end%>
      <% end %>
    </div>
</nav>
