<nav class='d-flex justify-content-between align-items-center navbar'>
  <%= link_to root_path,class: 'navbar__item', :action => 'go' do %>
    <h3 class='navbar__item'>GREEN<i class='fas fa-leaf'></i>BASKET</h3>
  <% end%>
  <div class='d-flex justify-content-end'>
    <% if user_signed_in? %>
      <% if current_user.restaurant? %>
        <%= link_to baskets_path,class: 'navbar__item', :action => 'go' do %>
          <i class='fas fa-shopping-basket navbar__icon align-self-center text-center'></i>
        <% end%>
        <%= link_to orders_path,class: 'navbar__item', :action => 'go' do %>
          <i class='fas fa-inbox navbar__icon align-self-center text-center'></i>
        <% end%>
        <%= link_to new_basket_path,class: 'navbar__item', :action => 'go' do %>
          <i class='fas fa-plus navbar__icon align-self-center text-center'></i>
        <% end%>
        <%= link_to destroy_user_session_path, class: 'navbar__item', :method => 'delete' do %>
          <i class='fas fa-sign-out-alt align-self-center text-center'></i>
        <% end%>
        <% else %>
        <%= link_to baskets_path,class: 'navbar__item', :action => 'go' do %>
          <i class='fas fa-shopping-basket navbar__icon align-self-center text-center'></i>
        <% end%>
        <%= link_to orders_path,class: 'navbar__item', :action => 'go' do %>
          <i class='fas fa-inbox navbar__icon align-self-center text-center'></i>
        <% end%>
        <%= link_to favourites_path,class: 'navbar__item', :action => 'go' do %>
          <i class='fas fa-heart navbar__icon align-self-center text-center'></i>
        <% end%>
        <%= link_to destroy_user_session_path, class: 'navbar__item', :method => 'delete' do %>
          <i class='fas fa-sign-out-alt navbar__icon align-self-center text-center'></i>
        <% end%>
      <% end  %>
    <% else %>
      <%= link_to baskets_path,class: 'navbar__item', :action => 'go' do %>
        <i class='fas fa-shopping-basket navbar__icon align-self-center text-center'></i>
      <% end%>
      <%= link_to new_user_session_path,class: 'navbar__item', :action => 'go' do %>
        <i class='fas fa-user navbar__icon align-self-center text-center'></i>
      <% end%>
    <% end %>
  </div>
</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginRight = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginRight= "0";
    document.body.style.backgroundColor = "white";
  }
</script>
