  <% basket_array = %w[
https://images.unsplash.com/photo-1458672584924-ed089c687402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80

https://images.unsplash.com/photo-1616109748085-7b89c0807927?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80

https://images.unsplash.com/photo-1484848560771-c55afee65e0f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80

https://images.unsplash.com/photo-1592455552754-22c10b36b452?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTd8fGZvb2QlMjBiYXNrZXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60

https://images.unsplash.com/photo-1588608468762-3b7843a5d5fb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTV8fGZvb2QlMjBiYXNrZXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60

https://images.unsplash.com/photo-1600626333392-59a20e646d97?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fGZvb2QlMjBiYXNrZXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60

https://images.unsplash.com/photo-1512578101635-3d8804b016c2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzJ8fGZvb2QlMjBiYXNrZXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60

https://images.unsplash.com/photo-1510442515885-9a9c05e77b79?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fGZvb2QlMjBiYXNrZXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60

https://images.unsplash.com/photo-1508431822127-707daa5c7f21?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fGZvb2QlMjBiYXNrZXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60

https://images.unsplash.com/photo-1565809655810-3973da946da1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80
]%>


<div class="dashboard-container">

<% if current_user.consumer? %>
  <div class="orders">
    <h1>My Green Orders</h1>
    <% if @orders.count == 0 %>
      <p>You don't have any order yet...</p>
      <div class="container text-center">
        <%= link_to baskets_path, class: 'btngui', :action => 'go' do %>
          <button>Check out the available baskets!</button>
        <% end%>
      </div>
    <% else %>
    <div class="filter-buttons">

      <button class="btngui" id="request-btn" data-toggle="button" aria-pressed="true" autocomplete="off"> Requested</button>
      <button class="btngui" id="confirm-btn" data-toggle="button" aria-pressed="true" autocomplete="off"> Confirmed</button>
      <button class="btngui" id="cancel-btn" data-toggle="button" aria-pressed="true" autocomplete="off"> Cancelled</button>
    </div>

      <div class="orders-flex-box">
          <% @orders.each do |order| %>
            <div class="orders-card <%= order.status.capitalize %>">
              <div class="card-content">
                <div class="image-order">
                  <% if order.basket.photo.attached? %>
                    <%= cl_image_tag order.basket.photo.key, height: 150, width: 200, crop: :fill %>
                  <% else%>
                    <img src="<%= basket_array.sample%>" height="150" width="200">
                  <%end%>
                </div>
                <h2><%= order.basket.name %></h2>
                <p>R$ <%= order.price %></p>

                <p><strong><%= order.status.capitalize %></strong></p>
              </div>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>


<% else%>
  <div class="baskets">
    <h2>My Baskets</h2>
    <% if @baskets.count == 0 %>
      <p>You don't have any published baskets yet.</p>
      <div class="container text-center">
        <%= link_to new_basket_path, class: 'btngui', :action => 'go' do %>
          <button>Publish a new basket!</button>
        <% end%>
      </div>
    <% else %>
      <div class="filter-buttons">
        <button class="btn btn-outline-primary" id="reserved-btn" data-toggle="button" aria-pressed="true" autocomplete="off"> Reserved</button>
        <button class="btn btn-outline-primary" id="available-btn" data-toggle="button" aria-pressed="true" autocomplete="off"> Available</button>
      </div>
    <div class="orders-flex-box">
      <% @baskets.each do |basket| %>
        <div class="basket-card-db <%= basket.status.capitalize %>">
          <div class="card-content">
            <h2><%= basket.name %></h2>
            <p>R$ <%= basket.price %></p>
            <p>Stock: <%= basket.stock %></p>
            <p><strong><%= basket.status.capitalize %></strong></p>
              <button class="btn btn-block btn-outline-primary show-orders-button" data-toggle="button" data-basketId ='<%=basket.id%>' aria-pressed="false" autocomplete="off"><strong><%=basket.orders.count%></strong> orders</button>
            <div class="basket-orders">
                <% basket.orders.each do |order| %>
                  <div class="basket-orders-card basket-<%=basket.id%> d-none" >
                      <h2><%= order.id %></h2>
                      <p><%= order.user.email %></p>
                      <p><%= order.price %></p>
                      <p><strong><%= order.status.capitalize %></strong></p>
                      <% if order.status.downcase == 'requested' && (basket.status.downcase =='available' || basket.status.downcase =='reserved') %>
                        <%= link_to "accept", accept_order_path(order) %>
                        <%= link_to "decline", decline_order_path(order) %>
                      <%elsif order.status.downcase == 'confirmed' %>
                        <%= link_to "cancel", cancel_order_path(order)%>
                      <%  end  %>
                  </div>
                <% end %>
             </div>
          </div>
        </div>
      <% end  %>
    </div>
  <% end  %>
  </div>
<% end %>

</div>
